# registry=https://registry.npmmirror.com/
# 禁止依赖项都会被提升到 node_modules/.pnpm/node_modules，相当于禁止使用幽灵依赖
hoist=false
# 自动安装peerDependencies
auto-install-peers=true
# 允许pnpm运行pre、post script
enable-pre-post-scripts=true
# 禁止workspace中的子包间循环依赖
disallow-workspace-cycles=true